// Variables

// Color variables
$color-blue: blue;
$color-red: red;

.test {
  color: $color-red;
  background: linear-gradient(45deg,#ff0000,#00ff00);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1),0 4px 8px rgba(0,0,0,0.2);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  color: $color-red;
}

.parent .child .grandchild, .parent .child .other {
  color: $color-blue;
}
